<span class="page-name"><%= subreddit.escape("name") %></span>

<div class="side">
  <h1><%= subreddit.escape("name") %></h1>
    <p><%= subreddit.escape("description") %></p>
  <span class="sub-button">
    <a class="sub-option">subscribe</a>
  </span>

</div>


<div class="content">
  <div class="spacer">
    <div id="siteTable" class="sitetable">
      <% posts.each(function (post) { %>
        <% if (post.get('sub_id') === subreddit.id){ %>
          <div class="link">

            <span class="rank"></span>

            <div class="midcol">
              <div class="upvote" data-id="<%= post.id %>"></div>
              <p class="votecount"><%= post.escape("vote_count") %></p>
              <div class="downvote" data-id="<%= post.id %>"></div>
            </div>

            <a class="thumbnail" href="<%= post.escape("url")%>" target="_blank">
              <img src="<%= post.escape("url")%>">
            </a>

            <div class="entry">
              <a href="<%= post.escape("url")%>" target="_blank">
                <p class="title"><%= post.escape("title") %></p>
              </a>

              <p class="infoline"> submitted <%= post.escape("time_ago") %> ago by <a href=""><%= post.escape("user_name") %></a> to
                <a href="#/subreddits/<%= post.escape("subreddit_id")%>"> <%= post.escape("subreddit_name") %></a>
                <br>
                <a class="first" href="#/posts/<%= post.get('id') %>"><%= post.escape("comments_count") %> comments</a>
                <a class="share" href="">share</a>
              </p>
            </div>
          </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </div>
