<!DOCTYPE html>
<html>
<head>
  <title>breddit: the front page of the bakery</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="main-head">
      <nav class="top">
        <ul class="subs-head">Some Default Subs:
          <li> <a href="#/subreddits/54">HoeDown  </a> </li>
          <li> <a href="#/subreddits/55">NotFunny </a> </li>
          <li> <a href="#/subreddits/56">Awwww    </a> </li>
          <li> <a href="#/subreddits/57">Robotz   </a> </li>
        </ul>
      </nav>
  </header>
  <br>
  <a href="#"><img class="bay" src="/bay.jpg" alt="baymax" style="width:50px;height:50px"></a><span class="breddit">breddit</span>

    <nav class="right-nav">
        <% if current_user %>
          <p class="user-name"> <%= current_user.username %> </p>
          <p class="sign-out"> <%= button_to "Sign Out", session_url, method: :delete %> </p>

          <div class="morelink">
            <a class= "create-bar" href="#/posts/new">Submit a new post</a>
            <div class="nub"></div>
          </div>
          <div class="morelink">
            <a class= "create-bar" href="#/subreddits/new">Create your own subreddit</a>
            <div class="subtitle">...for your project.</div>
            <div class="subtitle">...for your movement.</div>
          </div>
          <br>
        <% else %>
          <%= link_to "Sign in!", new_session_url %>
        <% end %>
    </nav>


<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>


</body>
</html>
