<!DOCTYPE html>
<html>
<head>
  <title>Breddit the frontpage of the Bakery</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="top">
      <ul class="subs-head">Some Default Subs:
        <li> <a href="#/subreddits/54">HoeDown  </a>/ </li>
        <li> <a href="#/subreddits/55">NotFunny </a>/ </li>
        <li> <a href="#/subreddits/56">Awwww    </a>/ </li>
        <li> <a href="#/subreddits/57">Robotz   </a>/ </li>
      </ul>
    </nav>

    <nav class="right-nav">
        <% if current_user %>
          <p class="user-name"> <%= current_user.username %> </p>
          <p class="sign-out"> <%= button_to "Sign Out", session_url, method: :delete %> </p>
          <a class= "create-bar" href="#/subreddits/new">Create a subreddit</a>
          <br>
          <a class= "create-bar" href="#/posts/new">Submit a new post</a>
        <% else %>
          <%= link_to "Sign in!", new_session_url %>
        <% end %>
    </nav>

  </header>




<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>


</body>
</html>
