<!DOCTYPE html>
<html>
<head>
  <title>breddit: the front page of the bakery</title>
  <link rel="icon" href="http://img4.wikia.nocookie.net/__cb20120914190104/mysingingmonsters/images/e/e1/Bread.png" sizes="256x256" type="image/png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
      <ul class="subs-head">Default subs:
        <li> <a class="animated zoomIn" href="#/subreddits/1">EpicMemers</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits/2">HoeDown</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits/3">Awwww</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits/4">Roboz</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits/5">BreadTelepathy</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits/6">Funny</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits/7">Appacademy</a> - </li>
        <li> <a class="animated zoomIn" href="#/subreddits">All</a> </li>
      </ul>
      <a href="/#" style="color:black;text-decoration:none"><img class="bay" src="/bread_cat.jpg" alt="baymax" style="width:28px;height:28px;margin-left:10px"><span class="breddit">breddit</span></a>
      <ul class="tabmenu">
        <li class="selected">
          <a href="" class="choice">hot</a>
        </li>
        <li>
          <a href="" class="choice">new</a>
        </li>
        <li>
          <a href="" class="choice">rising</a>
        </li>
        <li>
          <a href="" class="choice">controversial</a>
        </li>
        <li>
          <a href="" class="choice">top</a>
        </li>
        <li>
          <a href="" class="choice">gilded</a>
        </li>
        <li>
          <a href="" class="choice">wiki</a>
        </li>
        <li>
          <a href="" class="choice">promoted</a>
        </li>
      </ul>
  </div>


  <div class="header-right">
    <% if current_user %>
      <span class="user-name"> <span class="hvr-bob"><%= current_user.username %></span> (1188880) <a href="#/messages"><img src="/mail.jpg" alt="mail"></a> | preferences | </span>
      <span class="sign-out"> <span class="hvr-bob"><%= link_to "logout", session_url, method: :delete %> </span>
    <% else %>
      <span class="user-name">want to join? <span class="hvr-bob"><%= link_to "sign in", new_session_url %></span>
      <span class="sign-out">or <span class="hvr-bob"><%= link_to "create an account", new_user_url %></span> in seconds | English</span>
    <% end %>
  </div>

  <div class="right-nav">
      <div class="spacer">
        <form id="search" role="search">
          <input id="search-input" type="text" name="q" placeholder="search" tabindex="20">
        </form>
      </div>

      <div class="spacer">
        <div class="morelink">
          <a class= "create-bar" href="#/posts/new">Submit a new link</a>
          <div class="nub"></div>
        </div>
      </div>

      <div class="spacer">
        <div class="morelink">
          <a class= "create-bar" href="#/posts/new">Submit a new text post</a>
          <div class="nub"></div>
        </div>
      </div>

      <div class="spacer">
        <div class="morelink">
          <a class= "create-bar" href="#/subreddits/new">Create your own subreddit</a>
          <div class="nub"></div>
        </div>
      </div>

      <div class="sidebox">
        <span><img class="bayside" src="/baymax.gif" alt="bae" style="width:50px;height:50px"></span>
        <div class="subtitle hvr-sink">...for your project.</div>
        <div class="subtitle hvr-sink">...for your movement.</div>
      </div>

</div>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<%= yield %>


</body>

</html>
